#content{
	margin: 100px auto;
	width: 800px;
	position: relative;
}

#canvas{
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

#main-interface{
	position: absolute;
	top: 0;
}

#element-interface{
	position: absolute;
	right: 0;
	top: 0;
}

.myBtn{
	display: block;
	width: 150px;
	border-radius: 0px 0px;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}

.btn-default{
	border-width: 1;
	border-color: black;
	border-radius: 0px 0px;
	display: block;
	width: 150px;
}