body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #eeeeee;
}
#canvas{
    margin: 50px auto;
    display: table;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;

    font:normal 16px/20px Lekton, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    background: #444e57;
    background: #e8e8e8;
}

.container{
    width: 9%;
    min-height: 80%;
}

#dock{
    height: 40px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: rgba(0,0,0,0.5);
}


button{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    display: inline-block;
    margin: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #d4d4d4;
}

button:hover{
    background: #ffc000;
}

#add-elements {
    top: 40px;
    left: 0;
}

#actions {
    top: 40px;
    right: 0;
}